.social-login-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.social-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    width: 350px; 
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    transition: background-color 0.3s;
    margin-bottom: 1%;
}

.twitter { background-color: #1DA1F2; }
.google { background-color: #DB4437; }
.facebook { background-color: #1877F2; }
.linkedin { background-color: #0077B5; }
.github { background-color: #333; }

.social-login-button:hover {
    opacity: 0.9; 
}
